{% extends "base.html" %}
{% block content %}
        <div class="add_product_div">
            <div class="addproduct">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.name.label}}
                            </td>
                            <td>
                                {{form.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.description.label}}
                            </td>
                            <td>
                                {{form.desctiption}}
                            </td>
                        </tr>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                <button type="submit">Submit</button>
                            </td>
                            <td class="tdr">
                                <button>
                                    <a class="inline_block" href="http://127.0.0.1:8000/mycollection/">
                                        Cancel
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock content %}
