{% extends "base.html" %}
{% block content %}
        <div class="add_product_div">
            <div class="addproduct">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.producer.label}}
                            </td>
                            <td>
                                {{form.producer}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.name.label}}
                            </td>
                            <td>
                                {{form.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.description.label}}
                            </td>
                            <td>
                                {{form.description}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.price.label}}
                            </td>
                            <td>
                                {{form.price}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.length.label}}
                            </td>
                            <td>
                                {{form.length}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.width.label}}
                            </td>
                            <td>
                                {{form.width}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.height.label}}
                            </td>
                            <td class="tdr">
                                {{form.height}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.story.label}}
                            </td>
                            <td class="tdr">
                                {{form.story}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.category.label}}
                            </td>
                            <td class="tdr">
                                {{form.category}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.shelf.label}}
                            </td>
                            <td class="tdr">
                                {{form.shelf}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{form.owner.label}}
                            </td>
                            <td class="tdr">
                                {{form.owner}}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                {{ form.image.label }}</td>
                            <td>
                                {{ form.image }}
                            </td>
                        </tr>
                        <tr>
                            <td class="sign_up_table, tdl">
                                <button type="submit">Submit</button>
                            </td>
                            <td class="tdr">
                                <button>
                                    <a class="inline_block" href="http://127.0.0.1:8000/mycollection/">
                                        Cancel
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock content %}
