<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collectionmanager</title>
</head>
<body>
    <h1>Willkommen auf unserer Webapp!</h1>
    <br>
    <p>Hier können Sie Ihre Leidenschaft für Messer, Briefmarken oder Steine organisieren und verwalten. Speichern Sie Informationen zu Ihren wertvollen Stücken, verfolgen Sie den Zustand, fügen Sie Bilder hinzu und teilen Sie Ihre Sammlung mit anderen Enthusiasten.</p>
</body>
</html>