{% extends "base.html" %}
{% block currenttitel_home %}currenttitel{% endblock currenttitel_home %}
{% block content %}
        <div class="mainblock">
            <h1>
                Welcome to our Page!
            </h1>
            <p>
                Are you a fanatic collector? You wanna have a simple overview over your hole Collection fast and easy? <br>
                Than you are compleately on the correct website. <br>
                Collectify is a simple plattform to load up all your Items in a Collection up and have a very good overview over them.
            </p>
        </div>
    </body>
</html>
{% endblock content %}
