{% extends "base.html" %}
{% block currenttitel_mycollection %}currenttitel{% endblock currenttitel_mycollection %}
{% block content %}
        <div class="mycollection">
            {% for ware in waren %}
            <div class="collectionelement">
                <table class="collectiontable">
                    <tr>
                        <form action="{% url 'delete_product' Name=ware.name %}" method="post">
                            {% csrf_token %}
                            <input id="delete" type="submit" value="Delete">
                        </form>
                        <td class="tdl">
                            <img src="{{ ware.image.url }}" alt="Bild der Ware" width="100%">
                        </td>
                        <td class="tdr">
                            <h2 class="underline">{{ ware.name }}</h2>
                            <button onclick="contract_expand_details(this)">
                                Details
                            </button>
                            <br>
                            <table class="collecttable" style="display: none;">
                                <tr>
                                    <td class="td3">
                                        <h3>Brand:</h3>
                                    </td>
                                    <td class="td4">
                                        {{ ware.brand }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td3">
                                        <h3>Size:</h3>
                                    </td>
                                    <td class="td4">
                                        {{ ware.length }} x {{ ware.height }} x {{ ware.width }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td3">
                                        <h3>Product Category:</h3>
                                    </td>
                                    <td class="td4">
                                        {{ ware.category.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td3">
                                        <h3>Product Shelf:</h3>
                                    </td>
                                    <td class="td4">
                                        {{ ware.shelf.name }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endfor %}
            <script>
                function contract_expand_details(button) {
                    var detailsTable = button.nextElementSibling.nextElementSibling;
                    if (detailsTable.style.display === "none") {
                        detailsTable.style.display = "table";
                    } else {
                        detailsTable.style.display = "none";
                    }
                }
            </script>
            <a class="addproduct_link" href="http://127.0.0.1:8000/addproduct/">Add Product</a>
        </div>
    </body>
</html>
{% endblock content %}
