
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collectify</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
    </head>
    <body>
        <div class="logo">
            <a href="http://127.0.0.1:8000/home/">
                {% load static %}
                <img src="{% static 'Logo_Collectify.jpg' %}"
                    alt="Collectify Logo" width="80">
            </a>
        </div>

            <!-- Navigation Titles -->
            <div class="navigationbar">
                <a class="inline_block" href="http://127.0.0.1:8000/home/">
                    <h1 class="navigationtitle">Home</h1>
                </a>
                <a class="inline_block" href="http://127.0.0.1:8000/mycollection/">
                    <h1 class="navigationtitle">My Collection</h1></a>
                <a class="inline_block"
                    href="http://127.0.0.1:8000/othercollections/">
                    <h1 class="navigationtitle, currenttitel">Other Collections</h1>
                </a>
            </div>
    </body>
</html>
