
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collectify</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
    </head>
    <body>
        <div class="logo">
            <a href="http://127.0.0.1:8000/home/">
                {% load static %}
                <img src="{% static 'Logo_Collectify.jpg' %}"
                    alt="Collectify Logo" width="80">
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="login">
                <a href="http://127.0.0.1:8000/logout/">Loguot</a>
            </div>
        {% else %}
            <!-- Login/Register -->
            <div class="login">
                <a href="http://127.0.0.1:8000/login/">Login / Register</a>
            </div>
        {% endif %}
        <div class="loginform">
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <script>
                    alert('{{ message }}');
                </script>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST" novalidate>
                {% csrf_token %}
                <h2>Sign Up</h2>
                <table>
                    <tr>
                        <td class="sign_up_table">{{form.username.label}}</td>
                        <td>{{form.username}}</td>
                    </tr>
                    <tr>
                        <td class="sign_up_table">{{form.email.label}}</td>
                        <td>{{form.email}}</td>
                    </tr>
                    <tr>
                        <td class="sign_up_table">{{form.password1.label}}</td>
                        <td>{{form.password1}}</td>
                    </tr>
                    <tr>
                        <td class="sign_up_table">{{form.password2.label}}</td>
                        <td>{{form.password2}}</td>
                    </tr>
                    <tr>
                        <td class="td1"><input type="submit" value="Register" /></td>
                        <td class="button-a, td2">Already have an Account? <a href="http://127.0.0.1:8000/login/" class="button-register">Login</a></td>
                    </tr>
                </table>
                
            </form>
        </div>
    </body>
</html>
