* {
    text-decoration: none;
}

div {
    display: grid;
}

h1 {
    margin: 0;
    display: grid;
    font-size: 3vmax;
}

h2 {
    font-size: 2.5vmax;
}

.logo {
    grid-area: logo;
    margin: 0.5vmax;
    border-radius: 15px;
}

.navigationbar {
    grid-area: navigationbar;
    align-self: center;
    display: flex;
}

.inline_block {
    flex: 1;
    text-align: center;
}

button {
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

.currenttitel {
    text-decoration: solid underline;
}

.mainblock {
    text-align: center;
    align-self: center;
}

.loginform {
    text-align: center;
    justify-content: end;
    align-content: start;
}

td {
    padding: 1%;
}

.td1 {
    width: 80px;
}

.td2 {
    width: 300px;
}

.sign_up_table {
    text-align: left;
    font-size: 1vmax;
}

.collectionelement {
    width: 60vw;
    margin: 2vmax;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.tdl {
    width: 30%;
    height: auto;
}

.tdr {
    width: 70%;
    height: auto;
}

.addproduct_link {
    text-align: center;
    width: 10vw;
    font-size: 1vmax;
    bottom: 1%;
    border-radius: 10px;
    margin: 1vmax;
}

.mycollection {
    margin-top: 2vmax;
    display: flex;
    flex-direction: column; /* This ensures elements stack vertically */
    align-items: center; /* Centers the elements horizontally */
}

.underline {
    text-decoration: solid underline;
}

li {
    width: 100%;
}

.collectiontable {
    width: 100%;
    height: auto;
}

.collecttable {
    width: 100%;
    height: auto;
    display: none;
}

table {
    width: 100%;
}

.td3 {
    width: 60%;
}

.add_product_div {
    justify-self: center;
    align-self: center;
}

.addproduct_link:hover {
    cursor: pointer;
}

#delete {
    justify-self: end;
    width: 60px;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-areas:
    'logo menu'
    'navigationbar navigationbar'
    'content content';
    height: 100vh;
    width: 100vw;
    margin: 0;
    grid-template-rows: 150px  100px auto;
    grid-template-columns: 50% 50%;
}

.menu {
    grid-area: menu;
    justify-self: end;
    align-self: start;
    margin: 2%;
}

.menu_content {
    display: none;
}

.content {
    grid-area: content;
    justify-content: center;
    overflow: scroll;
    min-width: 0;
    overflow-x: hidden;
}

.menu_burger {
    justify-self: end;
    margin-right: 0.5vmax;
    margin-top: 0.5vmax;
}

.menu_burger_button {
    width: auto;
    font-size: 1vmax;
}
