* {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 300%;
    color: rgb(82, 0, 150);
}

h2 {
    color: rgb(13, 0, 192);
    font-size: 250%;
}

.logo {
    position: absolute;
    left: 1%;
    top: 2%;
}

.navigationbar {
    padding: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    /* Optional: für gleichmäßigen Abstand zwischen den Elementen */
}

.inline_block {
    flex: 1;
    text-align: center;
    /* Optional: zentriert den Text innerhalb des Elements */
}

.navigationtitle {
    margin: auto;
    width: 60%;
}

button {
    border: solid black 1px;
    border-radius: 5px;
}

button:hover {
    background-color: #00ff0d;
    cursor: pointer;
}

.login {
    position: absolute;
    top: 1%;
    right: 1%;
}

.currenttitel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    margin: auto;
    text-decoration: solid underline;
}

.mainblock {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.loginform {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button:hover {
    cursor: pointer;
}

.button-register {
    color: rgb(0, 110, 255);
    text-decoration: solid underline;
}

td {
    padding: 1%;
}

.td1 {
    width: 80px;
}

.td2 {
    width: 300px;
}

.sign_up_table {
    text-align: left;
    font-size: 120%;
}

.collectionelement {
    margin-bottom: 6%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.tdl {
    width: 30%;
    height: auto;
}

.tdr {
    width: 70%;
    height: auto;
}

.addproduct_link {
    text-align: center;
    font-size: 120%;
    position: absolute;
    left: 35%;
    right: 45%;
    bottom: 1%;
    border-radius: 10px;
    border: solid black 1px;
}

.mycollection {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}

.addproduct {
    display: inline;
}

.underline {
    text-decoration: solid underline;
}

li {
    width: 100%;
}

.collectiontable {
    width: 100%;
    height: auto;
}

.collecttable {
    width: 100%;
    height: auto;
    display: none;
}

table {
    width: 100%;
}

.td3 {
    width: 60%;
}

.add_product_div {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}

.addproduct_link:hover {
    color: blue;
    cursor: pointer;
    text-decoration: solid underline;
}

.delete_product {
    position: absolute;
    left: 100;
    top: 0;
}

#delete:hover {
    cursor: pointer;
    border-radius: 5px;
}

input:hover {
    cursor: pointer;
    border-radius: 5px;
}
