* {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
}

h1 {
    color: rgb(82, 0, 150);
}

h2 {
    color: rgb(0, 255, 0); 
}

.logo {
    position: absolute; left: 20px; top: 20px;
}

.navigationbar {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute; 
    top: 15%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around; /* Optional: für gleichmäßigen Abstand zwischen den Elementen */
}

.inline_block {
    flex: 1;
    text-align: center; /* Optional: zentriert den Text innerhalb des Elements */
}

.navigationtitle {
    margin: auto;
    width: 40%;
}

button:hover{
    background-color: #00ff0d;
    cursor: pointer;
}

.login {
    position: absolute; top: 20px; right: 20px;
}

.currenttitel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    margin: auto;
    width: 40%;
    border-radius: 15px;
    text-decoration: solid underline;
}

.mainblock {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
}

.loginform {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: black;
}
